body {
  text-align: left;
}
.li_main {
  font-weight: bolder;
  font-size: large;
}

#side_div {
  background-color: rgba(0, 0, 255, 0.108);
  text-align: center;
  font-size: 20px;

  width: 30%;
  height: 100%;
  float: left;
  margin-top: 38px;
  margin-bottom: 30px;
}
#text_ul {
  padding: 10px;
}
#middle_div {
  width: 70%;
  float: right;
}

h1 {
  text-align: center;
  background-color: pink;
}
#my_name {
  text-align: center;
  margin-top: 0px;
}
h2 {
  text-align: center;
  background-color: pink;
}
h4 {
  padding: 20px;
}
#h4_visa {
  padding: 10px;
}

p {
  text-align: center;
}
#image_me {
  width: 70px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#instagram_id {
  width: 40px;
}
#youtube_id {
  margin-bottom: -1px;
  width: 33px;
  margin-left: auto;
  margin-right: 10px;
}
#linkedin_id {
  width: 50px;
}
#span_social{
    
    text-align:center;
}
